@media screen and (max-width: 768px){
    .about-me{
        padding: 2rem;
        // background-color: rgb(206, 186, 224);

        .about-me-title{
            font-size: 1.5rem;
            margin-bottom: 1rem;
            background: rgb(72,49,212);
            color: white;
            padding: 1rem;
        }

        .about-me-text{
            font-size: 1.1rem;
        }
    }
}