

.header-description {
    margin: 2rem;
    color: white;

    .header-description-title{
        font-size: 1.5rem;
        color: rgb(204,242,129);;
    }

    .header-description-text{
        margin-top: 1rem;
        font-size: 1.3rem;
    }
}


@media screen and (max-width: 768px){
    .header-description {
        margin: 2rem;
        color: white;
    
        .header-description-title{
            font-size: 1.5rem;
            color: rgb(204,242,129);;
        }
    
        .header-description-text{
            margin-top: 1rem;
            font-size: 1.3rem;
        }
    }
}