*{
  margin: 0;
  padding: 0;
}


@font-face {
  font-family:'Gilroy-bold'; 
  src: url('./fonts/Gilroy-ExtraBold.otf')
};

@font-face {
  font-family:'Gilroy-light'; 
  src: url('./fonts/Gilroy-Light.otf')
};


.App {
  font-size: 10px;
  width: 100vw;
  overflow:hidden;
}




