*{
  margin: 0;
  padding: 0;
}

@import './scss/_variables';

@import './scss/header';
@import './scss/logo';
@import './scss/nav';
@import './scss/avatar';
@import './scss/header-description';


@font-face {
  font-family:'Gilroy-bold'; 
  src: url('./fonts/Gilroy-ExtraBold.otf')
};

@font-face {
  font-family:'Gilroy-light'; 
  src: url('./fonts/Gilroy-Light.otf')
};


.App {
  width: 100vw;
  overflow:hidden;
}




