$font-color: rgb(68, 65, 78);
$primary-bg-color: rgb(228, 228, 245);

$primary-text: white;
$secondary-text: rgb(8,247,85);

$normal-weight: 1.1rem;
$boldWeight: 40px;

$headingFont: 1.5rem;
$color-primary: black;
// $secondary-bg-color: rgb(10,10,10);
$secondary-bg-color: rgb(99, 4, 4);

$section-width-mobile:86%;
$section-width-desktop:76%;

$section-padding-mobile: 7%;
$section-padding-desktop: 3% 7%;

// $section-margin-mobile: 7%;
$section-margin-desktop: 1rem auto;
