$normal-weight: 1.1rem;
$boldWeight: 40px;

$headingFont: 1.5rem;

$primary-bg: rgb(0, 0, 0);
$secondary-bg: white;

$primary-color:white;
$secondary-color: rgb(18,216,15);
$common-color: rgb(73, 29, 20);
