$font-color: rgb(68, 65, 78);
$primary-bg-color: rgb(228, 228, 245);
$secondary-bg-color: white;

// $bg-color: (
//     "primary": rgb(72,49,212),
//     "secondary": rgb(204,242,129),
//     "tertiary": rgb(228, 228, 245),
//     "default": white,
// );

// $fonts-color: (
//     "primary": rgb(72,49,212),
//     "secondary": rgb(204,242,129),
//     "default": rgb(68, 65, 78),
// );

$normal-weight: 1.1rem;
$boldWeight: 40px;

$headingFont: 1.5rem;
$color-primary: rgb(72,49,212);
$color-secondary: rgb(204,242,129);

$section-width-mobile:86%;
$section-width-desktop:76%;

$section-padding-mobile: 7%;
$section-padding-desktop: 3% 7%;

// $section-margin-mobile: 7%;
$section-margin-desktop: 1rem auto;
