.contact{
    padding: 7%;
    width: 86%;
    background: $color-primary;

    .contact-me{
        background: $secondary-bg-color;
        color:rgb(161, 157, 172);
        padding: 1rem;
        -moz-box-shadow:0 0 1px;
        -webkit-box-shadow: 0 0 1px;
        box-shadow: 0 0 1px;
        border-radius: 0.2rem;
        max-width: 700px;
        margin: 0 auto;

        .contact-intro{
            color: $color-primary;
            padding: 1rem 0;
        }

        .contact-form{
            width: 100%;

            .form-item{
                border:none;
                border-bottom: 1px solid $color-primary;
                margin-bottom: 1rem;
                width: 100%;

                &:focus{
                    // border: none;
                    outline: none;
                }
            }

            .submit{
                border: 1px solid $color-primary;
                padding: 0.7rem 2rem;
                background: $secondary-bg-color;
                margin: 0 auto;

                &:active{
                    animation: fadeIn 5s ease;
                    background:$color-primary;
                    color: white;
                }
            }

        }
    }
}

@keyframes fadeIn {
    0% {
        transform: translateX(-45deg);
    }
    50% {
        transform: translateX(-25deg);
    }
    100%{
        transform: translateX(0deg);
    }
}

@media screen and (min-width: 769px){
    .contact{

    }
}