.experiences {
    padding: $section-padding-mobile;
    width: $section-width-mobile;

    .experiences-section{
        width: 100%;
        display: flex;
        flex-direction: column;

        .experience{
            border-radius: 0.2rem;
            width: 100%;
            overflow: hidden;
            background: $primary-bg-color;
            color:$font-color;
            -moz-box-shadow:0 0 1px;
            -webkit-box-shadow: 0 0 1px;
            box-shadow: 0 0 1px;
            position: relative;
            margin-bottom: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            .experience-header{
                width: 80%;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .company-info{
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-end;
                    color: $color-primary;
                    padding-bottom: 1rem;
                    border-bottom: 2px solid $color-primary;

                    img{
                        width: 50%;
                    }
                }

                .job-role{
                    padding-top: 1rem;
                }
            }

            .experience-section{
                // background: red;
                padding: 0 1rem;

                .experience-description{
                    font-style:italic;
                    border-left: 2px solid $color-primary;
                    padding-left: 1rem;
                }

                .experience-accomplishment{
                    margin: 1rem 0;
                    margin-left: 1rem;
                }
                .experience-date{
                    margin: 1rem 0;
                }
            }
        }
    }
}

@media screen and (min-width: 769px){
    .experiences {
        padding: $section-padding-desktop;
        width: $section-width-desktop;
        max-width: 1000px;
        background-color:$secondary-bg-color;
        margin: $section-margin-desktop;
        
        .experiences-section{
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            
    
            .experience{
                width: 48%;
                margin-top: 1rem;
            }
        }
    }
}
