.header-description {
    margin: 2rem;
    color: white;

    .header-description-title{
        font-size: 1.5rem;
        color: $color-secondary;
    }

    .header-description-text{
        margin-top: 1rem;
        font-size: 1.3rem;
    }
}


@media screen and (min-width: 769px){
    .header-description {
        margin-top: 5rem;
        width: 40vw;
        padding:1rem;
    
        .header-description-title{
            font-size: 2rem;
        }
    
        .header-description-text{
            font-size: 2rem;
        }
    }
}