.header-description {
    margin: 2rem;
    color: $primary-color;


    .header-description-title{
        font-size: 1.5rem;
        color: lighten($color: $common-color, $amount: 50%);
        animation: animateDesc 4s ease-in-out infinite;
    }

    .header-description-text{
        margin-top: 1rem;
        font-size: 1.3rem;
    }

    .socials{
        display: flex;
        justify-content: flex-start;
        margin-top: 2rem;

        .social{
            margin-right: 2rem;
            background: $common-color;
            padding: 4px;

            a{
                color: white;
                text-decoration: none;
                border-bottom: 2px solid $secondary-color;
            }
        }
    }
}

@keyframes animateDesc {
    0%{
        filter: hue-rotate(0deg)
    }
    50%{
        filter: hue-rotate(360deg)
    }
    100%{
        filter: hue-rotate(300deg)
    }
}


@media screen and (min-width: 769px){
    .header-description {
        margin-top: 5rem;
        width: 40vw;
        padding:1rem;
    
        .header-description-title{
            font-size: 2rem;
        }
    
        .header-description-text{
            font-size: 2rem;
        }

        .socials{
    
            .social{
                padding: 8px;
    
                a{
                    color: white;
                    text-decoration: none;
                    border-bottom: 3px solid $secondary-color;
                }
            }
        }
    }
}

@media screen and (min-width: 769px){
    .header-description{
        margin-top: 10rem;
    }
}