.logo-brand{
    padding: 0.5rem;
    font-size: 1.6rem;
    font-family: "Gilroy-bold", sans-serif;
    border-radius: 0.5rem;
    margin: 1rem;

    a{
        text-decoration: none;
        color: $color-secondary;
    }
}

@media screen and (min-width: 769px){
    .logo-brand{
        position: absolute;
        top: 1rem;
        right: 1rem;

        a{
            color: $color-primary;
        }
    }
}