.skills{
    padding: $section-padding-mobile;
    width: $section-width-mobile;
    background: $secondary-bg-color;

    .skills-list{

        .skills-list-item{
            background: $primary-bg-color;
            border-radius: 0.2rem;
            width: inherit;
            padding: 1rem 0;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            margin-top: 1rem;
            
            

            .skills-list-item-title{
                color: $color-primary;
                text-align: center;
            }

            .skills-items{
                display: flex;
                justify-content: space-around;
                width: 100%;
                flex-wrap: wrap;

                .skill-item{
                    text-align: center;
                    height: 50px;
                    padding: 1rem;
                    // margin: 0.5rem;

                    .item-img{
                        height: 70%;
                    }

                    .item-figcaption{
                        font-size: 1.1rem;
                        padding-top: 0.3rem;
                        color: rgb(68, 65, 78);
                    }

                }
            }
        }
    }
}


@media screen and (min-width: 769px) {
    .skills{
        padding: $section-padding-desktop;
        width: $section-width-desktop;
        max-width: 1000px;
        background-color:$secondary-bg-color;
        margin: $section-margin-desktop;

        .skills-list{
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            margin-top: 1rem;
            justify-content: space-between;


            .skills-list-item{
                width: 48%;
                padding: 0.5rem 0;
            }
        }
    }
}